@model IEnumerable<Bsa2er_MVC.Models.news>

@{
    ViewBag.Title = "الاخبار";
}




    <div class="tracks-box">
        <p>
            @Html.ActionLink("أنشاء خبر جديد", "Create", null, new { dir = "rtl", @class = "btn btn-secondary float-right" })
        </p>
        <h1 class="text-center m-4 ">الاخبار</h1>

        <div class="row ">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                    <div class="card bg-info text-light">
                        <div class="img-c">
                            <img width="150" height="150" src="~/images/News/@item.ImagePath">
                        </div>
                        <div class="card-title"> <h5>@item.title</h5></div>
                        <div class="card-body">

                            <p class="card-text"> @item.body.Substring(0, 20) .....</p>

                            @Html.ActionLink("تعديل", "Edit", new { id = item.id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("التفاصيل", "Details", new { id = item.id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-primary" })

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                <img width="150" height="150"  src="~/images/News/@item.ImagePath"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
