<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Amiri|Changa&display=swap" rel="stylesheet">
</head>
<body id="Target">
    <header id="mob">
        <div class="row">
            <div class="col-xs-4">
                <span class="open-slide">
                    <a href="#" onclick="openSlideMenu()">
                        <svg width="50" height="30">
                            <path d="M0,5 40,5" stroke="yellowgreen" stroke-width="5" />
                            <path d="M0,14 40,14" stroke="yellowgreen" stroke-width="5" />
                            <path d="M0,23 40,23" stroke="yellowgreen" stroke-width="5" />
                        </svg>
                    </a>
                </span>

                <div id="side-menu" class="side-nav">
                    <ul>
                        <li>
                            <div class="input-icons">
                                <i class="fa fa-search icon text-primary mt-1"> </i>
                                <input class="input-field mt-1 " type="text" placeholder="بحث">
                            </div>
                            <a href="#" class="btn-close text-warning" onclick="closeSlideMenu()">&times;</a>
                        </li>
                        <li><span class="nav-item">@Html.ActionLink("الرئيسة", "Index", "Home", null, new { @class = "nav-link text-warning" })</span></li>
                        <li> <span class="nav-item">@Html.ActionLink("عن الأكاديمية", "About", "Home", null, new { @class = "nav-link text-warning" })</span></li>
                        <li> <span class="nav-item">@Html.ActionLink("الأخبار", "News", "Home", null, new { @class = "nav-link text-warning" }) </span></li>
                        <li> <span class="nav-item">@Html.ActionLink("البرامج العامه", "PublicProgarms", "Home", null, new { @class = "nav-link text-warning" })</span></li>
                        <li>
                            <span class="nav-item">
                                <a class="nav-link text-warning" id="mytracks" style="cursor: pointer;">الدورات والبرامج العلمية</a>
                                <ul id="alltracks" style="z-index:10;">
                                    <li><span class="nav-item">@Html.ActionLink("البرامج العلميه", "Progs", "Home", null, new { @class = "nav-link" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("الدورات العلميه", "Tracks", "Home", null, new { @class = "nav-link" })</span></li>
                                </ul>
                            </span>
                        </li>
                        <li> <span class="nav-item">@Html.ActionLink("البوم الصور", "Gallery", "Home", null, new { @class = "nav-link" })</span></li>
                        <li> <span class="nav-item">@Html.ActionLink("المكتبة", "BookSection", "Home", null, new { @class = "nav-link" }) </span></li>
                        @*@if (User.IsInRole("Owner") || User.IsInRole("Admin"))
        {
            <li> <span class="nav-item"><a class="nav-link text-warning" href="/DashBoard/DashBoardPage"> DashBoard</a></span></li>
        }
        else if (User.IsInRole("Instructor"))
        {
            <li> <span class="nav-item"><a class="nav-link text-warning" href="/InstructorDashboard/Index/@Model.InsId"> لوحة التحكم</a></span></li>
        }
        else
        {
            <li> <span class="nav-item">@Html.ActionLink("إتصل بنا", "contact", "Home", null, new { @class = "nav-link" })</span></li>
        }*@







                        <li style="display: flex;">
                            <a class="fa fa-facebook text-primary  btn btn-toolbar" target="_blank"
                               href="https://www.facebook.com/"></a>
                            <a class="fa fa-twitter text-info   btn btn-toolbar" target="_blank"
                               href="https://twitter.com/"></a>
                            <a class="fa fa-instagram text-warning   btn btn-toolbar" target="_blank"
                               href="https://github.com/"></a>
                            <a class="fa fa-youtube text-danger  btn btn-toolbar" target="_blank"
                               href="https://github.com/"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8">
                <img id="image2" src="~/images/4.png" />
            </div>
        </div>
        <div id="sign" style="text-align:center">
            <ul class="navbar-nav ml-4">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>

        <span id="wrapdate" class=" navbar-brand date2 text-primary dt"></span>


    </header>
    <header id="com">
        <div class="col-md-3 col-xs-12">
            <img id="image2" src="~/images/4.png" />
        </div>
        <nav class="navbar col-xs-12 col-lg-9 navbar-expand navbar-light" id="upperheader">
            <div id=nav class=" navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <div class="input-icons">
                            <i class="fa fa-search icon text-primary mt-1"> </i>
                            <input class="input-field mt-1 " type="text" placeholder="بحث">
                        </div>
                    </li>
                    <a class="fa fa-facebook text-primary  btn btn-toolbar mt-2" target="_blank"
                       href="https://www.facebook.com/"></a>
                    <a class="fa fa-twitter text-info   btn btn-toolbar mt-2" target="_blank"
                       href="https://twitter.com/"></a>
                    <a class="fa fa-instagram text-warning   btn btn-toolbar mt-2" target="_blank"
                       href="https://github.com/"></a>
                    <a class="fa fa-youtube text-danger  btn btn-toolbar mt-2" target="_blank"
                       href="https://github.com/"></a>
                </ul>
              
                <ul class="navbar-nav mr-auto " style="text-align:center;">
                    @Html.Partial("_LoginPartial")
                </ul>
                @*<ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-warning" href="createuser.html"> سجل الان</a></li>
            <li class="nav-item"><a class="nav-link text-warning" href="login.html"> تسجيل الدخول</a></li>
        </ul>*@
                <span id="wrapdate" class="navbar-brand date d-none d-md-block text-warning"></span>
            </div>
        </nav>
        <div class="col-md-12 col-xl-9 mt-3">
            <nav class="navbar navbar-expand-lg navbar-light" style="display:flex;justify-content: center;">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="direction: rtl;" id="navbarToggleExternalContent">
                    <div class="navbar-nav" id="lowerheader">
                        <span class="nav-item">@Html.ActionLink("الرئيسة", "Index", "Home", null, new { @class = "nav-link" })</span>
                        <span class="nav-item">@Html.ActionLink("عن الأكاديمية", "About", "Home", null, new { @class = "nav-link" })</span>
                        <span class="nav-item">@Html.ActionLink("الأخبار", "News", "Home", null, new { @class = "nav-link" })</span>
                        <span class="nav-item">@Html.ActionLink("البرامج العامه", "PublicProgarms", "Home", null, new { @class = "nav-link" })</span>
                        <!-- Default dropright button -->
                        <span class="link-group dropdown mt-2" style="cursor: pointer;">
                            <a class="link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الدورات والبرامج العلمية
                            </a>
                            <div class="dropdown-menu bg-light" style="z-index:10;">
                                <span class="nav-item">@Html.ActionLink("البرامج العلميه", "Progs", "Home", null, new { @class = "nav-link" })</span>
                                <span class="nav-item">@Html.ActionLink("الدورات العلميه", "Tracks", "Home", null, new { @class = "nav-link" })</span>
                                <!-- Dropdown menu links -->
                            </div>
                        </span>
                        <span class="nav-item">@Html.ActionLink("البوم الصور", "Gallery", "Home", null, new { @class = "nav-link" })</span>
                        <span class="nav-item">@Html.ActionLink("المكتبة", "BookSection", "Home", null, new { @class = "nav-link" }) </span>
                        <span class="nav-item">@Html.ActionLink("إتصل بنا", "contact", "Home", null, new { @class = "nav-link" })</span>
                        @if (User.IsInRole("Owner") || User.IsInRole("Admin"))
                        {
                            <span class="nav-item"><a class="nav-link" href="/DashBoard/DashBoardPage">To DashBoard</a></span>
                        }
                        else if (User.IsInRole("Instructor"))
                        {
                            <span class="nav-item"><a class="nav-link text-warning" href="/InstructorDashboard/Index/@User."> لوحة التحكم</a></span>
                        }

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--endheader-->

    @RenderBody()

    <!--footer-->

    <footer class="p-3 mt-auto">
        <div class="row" style="display: flex;justify-content:space-around;">
            <div class="col-6 col-md-3 mt-5 order-2 order-md-1">
                <p class="wrapitem" style="text-align: center;">تابعنا على <i></i></p>
                <ul class="headerlistdecoration row">
                    <li class="listitemdecoration wrapitem col-3">
                        <a href="#"
                           class="fa fa-facebook-square fa-2x  btn btn-toolbar text-primary"></a>
                    </li>
                    <li class="listitemdecoration col-3"><a href="#" class="fa fa-youtube fa-2x text-danger btn btn-toolbar"></a></li>
                    <li class="listitemdecoration col-3"><a href="#" class="fa fa-twitter-square fa-2x text-info btn btn-toolbar"></a></li>
                    <li class="listitemdecoration col-3"><a href="#" class="fa fa-instagram fa-2x text-warning btn btn-toolbar"></a></li>
                </ul>
                <div class="p-2">
                    Powerd by <a href="#">
                        <img src="" title="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <a href="/Home/Index" id="imgfooter">
                    <img id="image3" src="~/images/7.png" />
                </a>
                <p style="text-align: center;" class="mb-3">أكاديمية قائمة على بث العلم الشرعي النافع للمسلم والمسلمة</p>
            </div>
            <div class="col-6 col-md-3 mt-5 order-3">
                <p style="text-align:center;" class="ml-4">اتصل بنا <i></i></p>
                <ul style="list-style-type:none;display: flex;flex-direction: column;">
                    <li style="margin-bottom:5px; text-align: center;">
                        <i class="fa fa-envelope"></i>
                        byynat.100@gmail.com
                    </li>
                    <li style="text-align: center;"><i class="fa fa-phone"></i> 966535999313</li></br>
                    <div style="text-align: center;">
                        أكاديمية بصائر للدراسات القرآنية
                    </div>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
