@model Bsa2er_MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
    string[] qualificationArr = new string[4]
    {
        "متوسط","ثانوي","بكالريوس","دراسات عليا"
    };
    string[] cities = new string[]
    {
        "مصر","المملكة العربية السعودية","سوريا","الجزائر","المغرب","إثيوبيا","آروبا","أرمينيا","أنتاركتيكا"
        ,"أنتيغوا وبربودا","إسبانيا","أستراليا","أستونيا","أذربيجان","أريتريا","أفغانستان","الأرجنتين","الأردن"
        ,"الإقليم البريطاني في المحيط الهندي","الإكوادور","الإمارات العربية المتحدة","ألبانيا","الباهاما","البحرين"
        ,"البرازيل","البرتغال","البوسنة والهرسك","الجابون","الجبل الأسود","الجزائر","الدانمرك","الرأس الأخضر"
        ,"السلفادور","السنغال","السودان","السويد","الصحراء الغربية","الصومال","الصين","العراق","الفاتيكان"
        ,"الفلبين","الكاميرون","الكونغو - برازافيل","الكونغو - كينشاسا","الكويت","ألمانيا","المغرب"
        ,"المقاطعات الجنوبية الفرنسية","المكسيك","المملكة العربية السعودية","المملكة المتحدة","النرويج"
        ,"النمسا","النيجر","الهند","اليابان","اليمن","اليونان","أندورا","أندونيسيا","أنغويلا","أنغولا"
        ,"أورغواي","أوزبكستان","أوغندا","أوكرانيا","إيران","أيسلندا","إيطاليا","أيرلندا","باراغواي"
        ,"بالاو","باكستان","بتسوانا","بربادوس","برمودا","بروناي","بلجيكا","بلغاريا","بليز","بنجلاديش"
        ,"بنما","بنين","بوتان","بورتوريكو","بوركينا فاسو","بوروندي","بولندا","بوليفيا","بولينيزيا الفرنسية"
        ,"بيرو","تانزانيا","تايلاند","تايوان","تركمانستان","تشاد","تركيا","ترينيداد وتوباغو","توجو","توفالو"
        ,"توكيلو","تونس","تونغا","تيمور الشرقية","جامايكا","الولايات المتحدة","بابوا غينيا الجديدة"
        ,"جبل طارق","جزر الترك وجايكوس","جزر القمر","جزر الكايمن","جزر المالديف","جزر الولايات المتحدة النائية"
        ,"جزر بيتكيرن","جزر سليمان","جزر فارو","جزر فرجين الأمريكية","جزر فرجين البريطانية","جزر فوكلاند","جزر كوكوس"
        ,"جزر كوك","جزر ماريانا الشمالية","جزر والس وفوتونا","جزيرة الكريسماس","جزيرة مان","جزيرة نورفوك"
        ,"جمهورية أفريقيا الوسطى","جمهورية التشيك","جمهورية الدومينيك","جنوب أفريقيا","جوادلوب","جورجيا","جيبوتي"
        ,"جورجيا الجنوبية وجزر ساندويتش الجنوبية","دومينيكا","رواندا","روسيا","روسيا البيضاء","رومانيا","زامبيا"
        ,"زيمبابوي","ساحل العاج","سان بارتليمي","ساموا","ساموا الأمريكية","سانت بيير وميكولون","سانت فنسنت وغرنادين"
        ,"سانت كيتس ونيفيس","سانت لوسيا","سانت مارتن","سانت هيلنا","سان مارينو","ساو تومي وبرينسيبي","سريلانكا"
        ,"سفالبارد وجان مايان","سلوفاكيا","سلوفينيا","سنغافورة","سوازيلاند","سوريا","سورينام","سويسرا","سيراليون"
        ,"سيشل","صربيا","طاجكستان","عُمان","غامبيا","غانا","غرينادا","غرينلاند","غواتيمالا","غوام","غويانا الفرنسية"
        ,"غيانا","غيرنزي","غينيا","غينيا بيساو","غينيا الإستوائية","فانواتو","فرنسا","فلسطين","فنزويلا","فنلندا"
        ,"فيتنام","فيجي","قبرص","قرغيزستان","قطر","كازاخستان","كاليدونيا الجديدة","كرواتيا","كمبوديا","كندا","كوبا"
        ,"كوستاريكا","كوريا الجنوبية","كوريا الشمالية","كوسوفو","كولومبيا","كيريباتي","كينيا","لاتفيا","لاوس"
        ,"لبنان","لوكسمبورغ","ليبيريا","ليبيا","ليتوانيا","ليختنشتاين","ليسوتو","مارتينيك","مالطا","مالي"
        ,"ماليزيا","مايوت","مدغشقر","مصر","مقدونيا","مكاو الصينية (منطقة إدارية خاصة)","ملاويمنغوليا","موريتانيا"
        ,"موريشيوس","موزمبيق","مولدافيا","موناكو","مونتسرات","ميكرونيزيا","ميانمار -بورما","ناميبيا","ناورو","نيبال"
        ,"نيجيريا","نيكاراغوا","نيوزيلاندا","نيوي","هايتي","هندوراس","هنغاريا","هولندا","هونغ كونغ الصينية"             
    };
}

<h2 class="text-center">تعديل بيانات مستخدم</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal text-right" style="height:320px;" dir="rtl">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="form-group" style="height:40px;">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="height:40px;">
        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select style="direction:rtl;" name="@Model.Country" class="form-control">
                @foreach (var c in cities)
                {
                    if (c == Model.Country)
                    {
                        <option selected value="@c">@c</option>
                    }
                    else
                    {
                        <option value="@c">@c</option>
                    }
                }
            </select>
            @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="height:40px;">
        @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select style="direction:rtl;height:40px;" name="@Model.Qualification" class="form-control">
                @foreach (var q in qualificationArr)
                {
                    if (q == Model.Qualification)
                    {
                        <option selected value="@q">@q</option>
                    }
                    else
                    {
                        <option value="@q">@q</option>
                    }
                }
            </select>
            @*@Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="height:40px;">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="height:40px;">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "DashBoardPage", "DashBoard", null, null)
</div>
