@model Bsa2er_MVC.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="text-center">
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PdfFilepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PdfFilepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageFilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageFilePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
