@model Bsa2er_MVC.Models.Exam

@{
    ViewBag.Title = "تعديل الإختبار";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-right w-75 mx-auto overflow-hidden">
        <h2 class="text-center mt-3 mb-3">تعديل الإختبار</h2>
        <hr />

        @Html.ValidationSummary()
        <input type="number" value="@Model.Exam_Id" hidden name="Exam_Id" />
        <input type="number" value="@Model.Program_Id" hidden name="Program_Id" />

        <div class="form-group my-3 overflow-hidden">
            <label class="control-label col-md-2 lead">عنوان الأختبار</label>
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group my-3 overflow-hidden">
            <h3>الأسئله</h3>
            <ul id="questions" style="direction:rtl">
                @foreach (var item in Model.Questions.Select((x, i) => new { Value = x, Index = i }))
                {
                <li>
                    @if (item.Index > 0)
                    {
                        <hr class="my-3">
                    }
                    <input type="number" value="@Model.Exam_Id" hidden name="questions[@item.Index].Exam_Id" />
                    <div class="quesion p-4 text-center" style="border:3px solid #ffd800; border-radius:10%;">
                        <label>نوع السؤال</label>
                        <div class="mb-3">
                            <select class="form-control single-line w-25 m-auto qtype" name="questions[@item.Index].QuestionType">
                                @if (item.Value.QuestionType == Bsa2er_MVC.Models.QuestionType.TrueOrFalse)
                                {

                                    <option value="1" selected="selected">صح أو خطأ</option>
                                    <option value="2">إختياري</option>
                                }
                                else
                                {
                                    <option value="1">صح أو خطأ</option>
                                    <option value="2" selected="selected">إختياري</option>
                                }
                            </select>
                        </div>
                        <label>نص السؤال</label>
                        <div class="mb-3">
                            <input class="form-control text-box single-line" type="text" name="questions[@item.Index].Q_Header" value="@item.Value.Q_Header" />
                        </div>
                        <label>درجة السؤال</label>
                        <div class="mb-3">
                            <input class="form-control single-line w-25 m-auto" type="number" name="questions[@item.Index].Q_Marks" value="@item.Value.Q_Marks" />
                        </div>
                        <label>الإختيارت</label>
                        <ol class="pr-3 w-25 mx-auto overflow-hidden mb-3 options" style="list-style:decimal">
                            @if (item.Value.QuestionType == Bsa2er_MVC.Models.QuestionType.TrueOrFalse)
                            {
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceOne" value="صح" readonly />
                                </li>
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceTwo" value="خطأ" readonly />
                                </li>
                            }
                            else
                            {
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceOne" value="@item.Value.ChoiceOne" />
                                </li>
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceTwo" value="@item.Value.ChoiceTwo" />
                                </li>
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceThree" value="@item.Value.ChoiceThree" />
                                </li>
                                <li>
                                    <input class="form-control" type="text" name="questions[@item.Index].ChoiceFour" value="@item.Value.ChoiceFour" />
                                </li>
                            }

                        </ol>
                        <label>رقم الإختيار الصحيح</label>
                        <div class="mb-3">
                            <select class="form-control single-line w-25 m-auto correct" name="questions[@item.Index].Q_Answer">
                                @if (item.Value.QuestionType == Bsa2er_MVC.Models.QuestionType.TrueOrFalse)
                                {
                                    switch (item.Value.Q_Answer)
                                    {
                                        case "1":
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            break;
                                        case "2":
                                            <option value="1">1</option>
                                            <option value="2" selected="selected">2</option>
                                            break;
                                    }

                                }
                                else
                                {
                                    switch (item.Value.Q_Answer)
                                    {
                                        case "1":
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            break;
                                        case "2":
                                            <option value="1">1</option>
                                            <option value="2" selected="selected">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            break;
                                        case "3":
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3" selected="selected">3</option>
                                            <option value="4">4</option>
                                            break;
                                        case "4":
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected="selected">4</option>
                                            break;
                                    }
                                }

                            </select>
                        </div>
                        <input type="button" class="btn btn-danger removequestion" value="إزالة السؤال" />
                    </div>
                </li>
                }
            </ul>
        </div>
        <input type="button" class="btn btn-success mx-5 my-2" id="addquestion" value="إضافة سؤال" />
        <div class="form-group">
            <div>
                <input type="submit" value="تعديل" class="btn btn-info btn-block w-25 m-auto text-white" />
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        var currentQ = @Model.NumberOfQuestions -1 ;
        var qNumber = @Model.NumberOfQuestions ;
        $("#questions").on("change", ".qtype", function () {
            var questionN = $(this).attr("name").split(".")[0];
            if (this.value == "2") {
                $(this).parent().parent().find(".options").html(`
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceOne" />
                    </li>
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceTwo" />
                    </li>
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceThree" />
                    </li>
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceFour" />
                    </li>
                `);
                $(this).parent().parent().find(".correct").html(`
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                `)
            }
            else if (this.value == "1") {
                $(this).parent().parent().find(".options").html(`
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceOne" value="صح" readonly />
                    </li>
                    <li>
                        <input class="form-control" type="text" name="${questionN}.ChoiceTwo" value="خطأ" readonly />
                    </li>
                `);
                $(this).parent().parent().find(".correct").html(`
                    <option value="1">1</option>
                    <option value="2">2</option>
                `)
            }
        })
        $("#addquestion").click(function () {
            currentQ++;
            $("#questions").append(`
                 <li>
                     <hr class="my-3">
                    <input type="number" value="@Model.Exam_Id" hidden name="questions[${currentQ}].Exam_Id" />
                    <div class="quesion p-4 text-center" style="border:3px solid #ffd800; border-radius:10%;">
                        <label>نوع السؤال</label>
                        <div class="mb-3">
                            <select class="form-control single-line w-25 m-auto qtype" name="questions[${currentQ}].QuestionType">
                                <option value="1">صح أو خطأ</option>
                                <option value="2">إختياري</option>
                            </select>
                        </div>
                        <label>نص السؤال</label>
                        <div class="mb-3">
                            <input class="form-control text-box single-line" type="text" name="questions[${currentQ}].Q_Header" />
                        </div>
                        <label>درجة السؤال</label>
                        <div class="mb-3">
                            <input class="form-control single-line w-25 m-auto" type="number" name="questions[${currentQ}].Q_Marks" />
                        </div>
                        <label>الإختيارت</label>
                        <ol class="pr-3 w-25 mx-auto overflow-hidden mb-3 options" style="list-style:decimal">
                            <li>
                                <input class="form-control" type="text" name="questions[${currentQ}].ChoiceOne" value="صح" readonly />
                            </li>
                            <li>
                                <input class="form-control" type="text" name="questions[${currentQ}].ChoiceTwo" value="خطأ" readonly />
                            </li>
                        </ol>
                        <label>رقم الإختيار الصحيح</label>
                        <div class="mb-3">
                            <select class="form-control single-line w-25 m-auto correct" name="questions[${currentQ}].Q_Answer">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <input type="button" class="btn btn-danger removequestion" value="إزالة السؤال" />
                    </div>
                </li>
            `)
        })
        $("#questions").on("click", ".removequestion", function () {
            $(this).parent().parent().remove();
        })
    </script>
}