@model Bsa2er_MVC.Models.Program
@{
    ViewBag.Title = Model.Program_Title;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 style="display:block;" class="pb-4 mt-3">@Model.Program_Title</h1>
            @* <div class="mb-5">
            @if (User.IsInRole("Student"))
            {
                <a href="/Account/AddProgram/@Model.ProgramId" class="btn btn-info w-50 mt-4 mx-auto">التسجيل بالبرنامج</a>
            }
            else if (!User.Identity.IsAuthenticated)
            {
                <h4 class="text-center">ًللتسجيل بالبرنامج عليك تسجيل الدخول أولا</h4>
            }
        </div>*@
            <div class="imgContainer mt-5 pl-0">
                <img src="~/images/Programs/@Model.Program_ImagePath" />
            </div>
            <table class="table  table-bordered table-hover mt-5 mb-5 tab ">
                <tbody>
                    <tr class="d-flex">
                        <td class="col-4">اسم المعلم</td>
                        <td class="col-8">@Model.Instructor.ApplicationUser.UserName</td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4">عدد الدروس</td>
                        <td class="col-8">@Model.NumOfLecture</td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4">مدة الدورة او البرنامج</td>
                        <td class="col-8">@Model.Program_Duration</td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4"> الفئة المستهدفة</td>
                        <td class="col-8">@Model.Program_TargetGroup</td>

                    </tr>

                    <tr class="d-flex">
                        <td class="col-4">طريقة الدراسة</td>
                        <td class="col-8">اون لاين</td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4">أهداف الدورة او البرنامج</td>
                        <td class="col-8">
                            @Model.Program_Goals
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4">مميزات الدورة او البرنامج</td>
                        <td class="col-8">
                            @Model.Program_Advantages
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="mb-5">
                @if (User.IsInRole("Student"))
                {
                    <a href="/Account/AddProgram/@Model.ProgramId" class="btn btn-info w-50 mt-4 mx-auto">التسجيل بالبرنامج</a>
                }
                else if (!User.Identity.IsAuthenticated)
                {
                    <h4 class="text-center">ًللتسجيل بالبرنامج عليك تسجيل الدخول أولا</h4>
                }
            </div>

            <p style="margin-top:10px;" class=" mr-5 text-right">ملاحظة : يمكنك التسجيل بالاكاديمية والالتحاق بالبرامج والدورات العلمية والحصول علي شهادات حضور واجتياز</p>
        </div>
    </div>
</div>