@model Bsa2er_MVC.Models.news

@{
    ViewBag.Title = "أنشاء خبر";
}

    <h2 class="text-center mb-3 mt-2" dir="rtl">أنشاء خبر</h2>

@using (Html.BeginForm("Create","News",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal justify-content-between text-right" dir="rtl" style="min-height:310px;">
       
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-3 mt-2" style="margin-bottom: 50px;height:50px;">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group mb-1 mt-2 mb-1" style="height:210px;">
            @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.TextAreaFor(model => model.body, new { @class = "form-control", style = "min-height:200px" } )
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-1 mt-2" style="margin-bottom: 50px;height:50px;">
            <label class="control-label col-md-2 mt-2" id="img">صورة الخبر</label>
            @*@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input  type="file" class="form-control" name="imageFile" id="img"/>
                @*@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group " style="direction:rtl">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="اضغط لأنشاء الخبر" class="btn btn-secondary mt-5 text-center" dir="rtl" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("ارجع الى قائمة الاخبار", "Index")
</div>
