@model Bsa2er_MVC.Models.news

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","News",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>news</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.body, new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
       <label id="img" class = "control-label col-md-2">Image</label>
       <div class="col-md-10">
           <img height="150" width="150" id="img" src="~/images/News/@Model.ImagePath" />
           @Html.HiddenFor(model => model.ImagePath)
       </div>
    </div>
    <div class="form-group">
       <label id="newImg" class = "control-label col-md-2">new Image</label>
        <div class="col-md-10">
            <input name="imgFile"  type="file" id="newImg" class = "form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
