
@model Bsa2er_MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-xs-12 mt-5 text-center">
        <div class="formwrapper">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-row">

                <div class="col-10">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.Email, "البريد الالكتروني", new { @class = "form-label" })
                </div>
            </div>
            <div class="form-row mt-5">

                <div class="col-10">
                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.Password, " كلمة السر", new { @class = "form-label" })
                </div>
            </div>

            <div class="form-row mt-5">

                <div class="col-10">
                    @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.ConfirmPassword, " تاكيد كلمة السر", new { @class = "form-label" })
                </div>
            </div>
            <div class="form-row mt-5">

                <div class="col-10">
                    @Html.TextBoxFor(a => a.phonenumber, new { @class = "form-control" })
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.phonenumber, "رقم الهاتف", new { @class = "form-label" })
                </div>
            </div>
            <div class="form-row mt-5">

                <div class="col-10">
                    @Html.DropDownListFor(a => a.Country, ViewBag.countries as SelectList)
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.Country, " اسم الدولة", new { @class = "form-label" })
                </div>
            </div>
            <div class="form-row mt-5">
                <div class="col-10">
                    @Html.DropDownListFor(a => a.qualification, ViewBag.qualifications as SelectList)
                </div>
                <div class="col-2">
                    @Html.LabelFor(a => a.qualification, "المؤهل", new { @class = "form-label" })
                </div>
            </div>
            }
        </div>
    </div>
</div>