
@model Bsa2er_MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-xs-12 mt-5 text-center">
        <div class="formwrapper">
            @using (Html.BeginForm("Register", "Account", new { id = ViewBag.id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-12 text-center">
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-row">
                    <div class="offset-5 col-3">
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Email, "البريد الالكتروني", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Username, "اسم المستخدم", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.TextBoxFor(a => a.fullname, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.fullname, " الاسم كامل", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        <select name="gender" style="direction:rtl;" class="form-control">
                            @if (ViewBag.id == "2")
                            {
                                <option selected="selected" value="male">مشرف</option>
                                <option value="female">مشرفة</option>
                            }
                            else if (ViewBag.id == "3")

                            {
                                <option selected="selected" value="male">معلم</option>
                                <option value="female">معلمة</option>
                            }
                            else if(ViewBag.id == "4")
                            {
                                <option selected="selected" value="male">طالب </option>
                                <option value="female">طالبة</option>
                            }

                        </select>

                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.gender, " نوع الطالب", new { @class = "form-label" })
                    </div>
                </div>

                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Password, " كلمة السر", new { @class = "form-label" })
                    </div>
                </div>

                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.ConfirmPassword, " تاكيد كلمة السر", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.TextBoxFor(a => a.Phonenumber, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Phonenumber, "رقم الهاتف", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        @Html.TextBoxFor(a => a.countryofbirth, new { @class = "form-control" })
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.countryofbirth, "الجنسية ", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">

                    <div class="offset-5 col-3">
                        <select style="direction:rtl;" name="Countries" class="form-control">
                            <option value="مصر">مصر</option>
                            <option value="المملكة العربية السعودية">المملكة العربية السعودية</option>
                            <option value="سوريا">سوريا</option>
                            <option value="الجزائر">الجزائر</option>
                            <option value="المغرب">المغرب</option>
                            <option value="إثيوبيا">إثيوبيا</option>
                            <option value="آروبا">آروبا</option>
                            <option value="أرمينيا">أرمينيا</option>
                            <option value="أنتاركتيكا">أنتاركتيكا</option>
                            <option value="أنتيغوا وبربودا">أنتيغوا وبربودا</option>
                            <option value="إسبانيا">إسبانيا</option>
                            <option value="أستراليا">أستراليا</option>
                            <option value="أستونيا">أستونيا</option>
                            <option value="أذربيجان">أذربيجان</option>
                            <option value="أريتريا">أريتريا</option>
                            <option value="أفغانستان">أفغانستان</option>
                            <option value="الأرجنتين">الأرجنتين</option>
                            <option value="الأردن">الأردن</option>
                            <option value="الإقليم البريطاني في المحيط الهندي">الإقليم البريطاني في المحيط الهندي</option>
                            <option value="الإكوادور">الإكوادور</option>
                            <option value="الإمارات العربية المتحدة">الإمارات العربية المتحدة</option>
                            <option value="ألبانيا">ألبانيا</option>
                            <option value="الباهاما">الباهاما</option>
                            <option value="البحرين">البحرين</option>
                            <option value="البرازيل">البرازيل</option>
                            <option value="البرتغال">البرتغال</option>
                            <option value="البوسنة والهرسك">البوسنة والهرسك</option>
                            <option value="الجابون">الجابون</option>
                            <option value="الجبل الأسود">الجبل الأسود</option>
                            <option value="الجزائر">الجزائر</option>
                            <option value="الدانمرك">الدانمرك</option>
                            <option value="الرأس الأخضر">الرأس الأخضر</option>
                            <option value="السلفادور">السلفادور</option>
                            <option value="السنغال">السنغال</option>
                            <option value="السودان">السودان</option>
                            <option value="السويد">السويد</option>
                            <option value="الصحراء الغربية">الصحراء الغربية</option>
                            <option value="الصومال">الصومال</option>
                            <option value="الصين">الصين</option>
                            <option value="العراق">العراق</option>
                            <option value="الفاتيكان">الفاتيكان</option>
                            <option value="الفلبين">الفلبين</option>
                            <option value="الكاميرون">الكاميرون</option>
                            <option value="الكونغو - برازافيل">الكونغو - برازافيل</option>
                            <option value="الكونغو - كينشاسا">الكونغو - كينشاسا</option>
                            <option value="الكويت">الكويت</option>
                            <option value="ألمانيا">ألمانيا</option>
                            <option value="المغرب">المغرب</option>
                            <option value="المقاطعات الجنوبية الفرنسية">المقاطعات الجنوبية الفرنسية</option>
                            <option value="المكسيك">المكسيك</option>
                            <option value="المملكة العربية السعودية">المملكة العربية السعودية</option>
                            <option value="المملكة المتحدة">المملكة المتحدة</option>
                            <option value="النرويج">النرويج</option>
                            <option value="النمسا">النمسا</option>
                            <option value="النيجر">النيجر</option>
                            <option value="الولايات المتحدة">الولايات المتحدة</option>
                            <option value="الهند">الهند</option>
                            <option value="اليابان">اليابان</option>
                            <option value="اليمن">اليمن</option>
                            <option value="اليونان">اليونان</option>
                            <option value="أندورا">أندورا</option>
                            <option value="أندونيسيا">أندونيسيا</option>
                            <option value="أنغويلا">أنغويلا</option>
                            <option value="أنغولا">أنغولا</option>
                            <option value="أورغواي">أورغواي</option>
                            <option value="أوزبكستان">أوزبكستان</option>
                            <option value="أوغندا">أوغندا</option>
                            <option value="أوكرانيا">أوكرانيا</option>
                            <option value="إيران">إيران</option>
                            <option value="أيسلندا">أيسلندا</option>
                            <option value="إيطاليا">إيطاليا</option>
                            <option value="أيرلندا">أيرلندا</option>
                            <option value="بابوا غينيا الجديدة">بابوا غينيا الجديدة</option>
                            <option value="باراغواي">باراغواي</option>
                            <option value="بالاو">بالاو</option>
                            <option value="باكستان">باكستان</option>
                            <option value="بتسوانا">بتسوانا</option>
                            <option value="بربادوس">بربادوس</option>
                            <option value="BM">برمودا</option>
                            <option value="برمودا">بروناي</option>
                            <option value="بلجيكا">بلجيكا</option>
                            <option value="بلغاريا">بلغاريا</option>
                            <option value="بليز">بليز</option>
                            <option value="بنجلاديش">بنجلاديش</option>
                            <option value="بنما">بنما</option>
                            <option value="بنين">بنين</option>
                            <option value="بوتان">بوتان</option>
                            <option value="بورتوريكو">بورتوريكو</option>
                            <option value="بوركينا فاسو">بوركينا فاسو</option>
                            <option value="بوروندي">بوروندي</option>
                            <option value="بولندا">بولندا</option>
                            <option value="بوليفيا">بوليفيا</option>
                            <option value="بولينيزيا الفرنسية">بولينيزيا الفرنسية</option>
                            <option value="بيرو">بيرو</option>
                            <option value="تانزانيا">تانزانيا</option>
                            <option value="تايلاند">تايلاند</option>
                            <option value="تايوان">تايوان</option>
                            <option value="تركمانستان">تركمانستان</option>
                            <option value="تشاد">تشاد</option>
                            <option value="تركيا">تركيا</option>
                            <option value="ترينيداد وتوباغو">ترينيداد وتوباغو</option>
                            <option value="توجو">توجو</option>
                            <option value="توفالو">توفالو</option>
                            <option value="توكيلو">توكيلو</option>
                            <option value="تونس">تونس</option>
                            <option value="تونغا">تونغا</option>
                            <option value="تيمور الشرقية">تيمور الشرقية</option>
                            <option value="جامايكا">جامايكا</option>
                            <option value="جبل طارق">جبل طارق</option>
                            <option value="جزر الترك وجايكوس">جزر الترك وجايكوس</option>
                            <option value="جزر القمر">جزر القمر</option>
                            <option value="جزر الكايمن">جزر الكايمن</option>
                            <option value="جزر المالديف">جزر المالديف</option>
                            <option value="جزر الولايات المتحدة النائية">جزر الولايات المتحدة النائية</option>
                            <option value="جزر بيتكيرن">جزر بيتكيرن</option>
                            <option value="جزر سليمان">جزر سليمان</option>
                            <option value="جزر فارو">جزر فارو</option>
                            <option value="جزر فرجين الأمريكية">جزر فرجين الأمريكية</option>
                            <option value="جزر فرجين البريطانية">جزر فرجين البريطانية</option>
                            <option value="جزر فوكلاند">جزر فوكلاند</option>
                            <option value="جزر كوكوس">جزر كوكوس</option>
                            <option value="جزر كوك">جزر كوك</option>
                            <option value="جزر ماريانا الشمالية">جزر ماريانا الشمالية</option>
                            <option value="جزر والس وفوتونا">جزر والس وفوتونا</option>
                            <option value="جزيرة الكريسماس">جزيرة الكريسماس</option>
                            <option value="جزيرة مان">جزيرة مان</option>
                            <option value="جزيرة نورفوك">جزيرة نورفوك</option>
                            <option value="جمهورية أفريقيا الوسطى">جمهورية أفريقيا الوسطى</option>
                            <option value="جمهورية التشيك">جمهورية التشيك</option>
                            <option value="جمهورية الدومينيك">جمهورية الدومينيك</option>
                            <option value="جنوب أفريقيا">جنوب أفريقيا</option>
                            <option value="جوادلوب">جوادلوب</option>
                            <option value="جورجيا">جورجيا</option>
                            <option value="جورجيا الجنوبية وجزر ساندويتش الجنوبية">جورجيا الجنوبية وجزر ساندويتش الجنوبية</option>
                            <option value="جيبوتي">جيبوتي</option>
                            <option value="جيرسي">جيرسي</option>
                            <option value="دومينيكا">دومينيكا</option>
                            <option value="رواندا">رواندا</option>
                            <option value="روسيا">روسيا</option>
                            <option value="روسيا البيضاء">روسيا البيضاء</option>
                            <option value="رومانيا">رومانيا</option>
                            <option value="زامبيا">زامبيا</option>
                            <option value="زيمبابوي">زيمبابوي</option>
                            <option value="ساحل العاج">ساحل العاج</option>
                            <option value="سان بارتليمي">سان بارتليمي</option>
                            <option value="ساموا">ساموا</option>
                            <option value="ساموا الأمريكية">ساموا الأمريكية</option>
                            <option value="سانت بيير وميكولون">سانت بيير وميكولون</option>
                            <option value="سانت فنسنت وغرنادين">سانت فنسنت وغرنادين</option>
                            <option value="سانت كيتس ونيفيس">سانت كيتس ونيفيس</option>
                            <option value="سانت لوسيا">سانت لوسيا</option>
                            <option value="سانت مارتن">سانت مارتن</option>
                            <option value="سانت هيلنا">سانت هيلنا</option>
                            <option value="سان مارينو">سان مارينو</option>
                            <option value="ساو تومي وبرينسيبي">ساو تومي وبرينسيبي</option>
                            <option value="سريلانكا">سريلانكا</option>
                            <option value="سفالبارد وجان مايان">سفالبارد وجان مايان</option>
                            <option value="سلوفاكيا">سلوفاكيا</option>
                            <option value="سلوفينيا">سلوفينيا</option>
                            <option value="سنغافورة">سنغافورة</option>
                            <option value="سوازيلاند">سوازيلاند</option>
                            <option value="سوريا">سوريا</option>
                            <option value="سورينام">سورينام</option>
                            <option value="سويسرا">سويسرا</option>
                            <option value="سيراليون">سيراليون</option>
                            <option value="سيشل">سيشل</option>
                            <option value="شيلي">شيلي</option>
                            <option value="صربيا">صربيا</option>
                            <option value="طاجكستان">طاجكستان</option>
                            <option value="عُمان">عُمان</option>
                            <option value="غامبيا">غامبيا</option>
                            <option value="غانا">غانا</option>
                            <option value="غرينادا">غرينادا</option>
                            <option value="غرينلاند">غرينلاند</option>
                            <option value="غواتيمالا">غواتيمالا</option>
                            <option value="غوام">غوام</option>
                            <option value="غويانا الفرنسية">غويانا الفرنسية</option>
                            <option value="غيانا">غيانا</option>
                            <option value="غيرنزي">غيرنزي</option>
                            <option value="غينيا">غينيا</option>
                            <option value="غينيا بيساو">غينيا بيساو</option>
                            <option value="غينيا الإستوائية">غينيا الإستوائية</option>
                            <option value="فانواتو">فانواتو</option>
                            <option value="فرنسا">فرنسا</option>
                            <option value="فلسطين">فلسطين</option>
                            <option value="فنزويلا">فنزويلا</option>
                            <option value="فنلندا">فنلندا</option>
                            <option value="فيتنام">فيتنام</option>
                            <option value="فيجي">فيجي</option>
                            <option value="قبرص">قبرص</option>
                            <option value="قرغيزستان">قرغيزستان</option>
                            <option value="قطر">قطر</option>
                            <option value="كازاخستان">كازاخستان</option>
                            <option value="كاليدونيا الجديدة">كاليدونيا الجديدة</option>
                            <option value="كرواتيا">كرواتيا</option>
                            <option value="كمبوديا">كمبوديا</option>
                            <option value="كندا">كندا</option>
                            <option value="كوبا">كوبا</option>
                            <option value="كوستاريكا">كوستاريكا</option>
                            <option value="كوريا الجنوبية">كوريا الجنوبية</option>
                            <option value="كوريا الشمالية">كوريا الشمالية</option>
                            <option value="كوسوفو">كوسوفو</option>
                            <option value="كولومبيا">كولومبيا</option>
                            <option value="كيريباتي">كيريباتي</option>
                            <option value="كينيا">كينيا</option>
                            <option value="لاتفيا">لاتفيا</option>
                            <option value="لاوس">لاوس</option>
                            <option value="لبنان">لبنان</option>
                            <option value="لوكسمبورغ">لوكسمبورغ</option>
                            <option value="ليبيريا">ليبيريا</option>
                            <option value="ليبيا">ليبيا</option>
                            <option value="ليتوانيا">ليتوانيا</option>
                            <option value="ليختنشتاين">ليختنشتاين</option>
                            <option value="ليسوتو">ليسوتو</option>
                            <option value="مارتينيك">مارتينيك</option>
                            <option value="مالطا">مالطا</option>
                            <option value="مالي">مالي</option>
                            <option value="ماليزيا">ماليزيا</option>
                            <option value="مايوت">مايوت</option>
                            <option value="مدغشقر">مدغشقر</option>
                            <option value="مصر">مصر</option>
                            <option value="مقدونيا">مقدونيا</option>
                            <option value="منطقة ماكاو الإدارية الخاصة">منطقة ماكاو الإدارية الخاصة</option>
                            <option value="ملاويمنغوليا">ملاويمنغوليا</option>
                            <option value="موريتانيا">موريتانيا</option>
                            <option value="موريشيوس">موريشيوس</option>
                            <option value="موزمبيق">موزمبيق</option>
                            <option value="مولدافيا">مولدافيا</option>
                            <option value="موناكو">موناكو</option>
                            <option value="مونتسرات">مونتسرات</option>
                            <option value="ميكرونيزيا">ميكرونيزيا</option>
                            <option value="ميانمار -بورما">ميانمار -بورما</option>
                            <option value="ناميبيا">ناميبيا</option>
                            <option value="ناورو">ناورو</option>
                            <option value="نيبال">نيبال</option>
                            <option value="نيجيريا">نيجيريا</option>
                            <option value="نيكاراغوا">نيكاراغوا</option>
                            <option value="نيوزيلاندا">نيوزيلاندا</option>
                            <option value="نيوي">نيوي</option>
                            <option value="هايتي">هايتي</option>
                            <option value="هندوراس">هندوراس</option>
                            <option value="هنغاريا">هنغاريا</option>
                            <option value="هولندا">هولندا</option>
                            <option value="هونغ كونغ الصينية">هونغ كونغ الصينية</option>
                        </select>
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Countries, " اسم الدولة", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-5">
                    <div class="offset-5 col-3">
                        <select style="direction:rtl;" name="Qualifications" class="form-control">
                            <option value="متوسط">متوسط</option>
                            <option value="ثانوي"> ثانوي</option>
                            <option value="بكالريوس">بكالريوس</option>
                            <option value="دراسات عليا">دراسات عليا</option>
                        </select>
                    </div>
                    <div class="col-2">
                        @Html.LabelFor(a => a.Qualifications, "المؤهل", new { @class = "form-label" })
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="offset-5 col-3">
                        <div class="form-row">
                            <div class="col-4">
                                <select class="form-control" name="day" class="mr-4">
                                    <option value="01" selected="selected">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select name="month" class="form-control mr-4">
                                    <option value="01" selected="selected">يناير</option>
                                    <option value="02">فبراير</option>
                                    <option value="03">مارس</option>
                                    <option value="04">أبريل</option>
                                    <option value="05">مايو</option>
                                    <option value="06">يونيو</option>
                                    <option value="07">يوليو</option>
                                    <option value="08">أغسطس</option>
                                    <option value="09">سبتمبر</option>
                                    <option value="10">أكتوبر</option>
                                    <option value="11">نوفمبر</option>
                                    <option value="12">ديسمبر</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select name="year" class="form-control">
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996" selected="selected">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                    <option value="1919">1919</option>
                                    <option value="1918">1918</option>
                                    <option value="1917">1917</option>
                                    <option value="1916">1916</option>
                                    <option value="1915">1915</option>
                                    <option value="1914">1914</option>
                                    <option value="1913">1913</option>
                                    <option value="1912">1912</option>
                                    <option value="1911">1911</option>
                                    <option value="1910">1910</option>
                                    <option value="1909">1909</option>
                                    <option value="1908">1908</option>
                                    <option value="1907">1907</option>
                                    <option value="1906">1906</option>
                                    <option value="1905">1905</option>
                                    <option value="1904">1904</option>
                                    <option value="1903">1903</option>
                                    <option value="1902">1902</option>
                                    <option value="1901">1901</option>
                                    <option value="1900">1900</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <span style="display:block;">تاريخ الميلاد</span>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <button style="padding:10px 40px;" type="submit" class="btn btn-primary">سجل</button>
                </div>}
        </div>
    </div>
</div>